
src/Ordem/FichaOP.java
bin/Ordem/Combatente.class
bin/Ordem/Especialista.class
bin/Ordem/FichaOP.class
bin/Ordem/LeituraDados.class
bin/Ordem/Ocultista.class
src/Ordem/FichaOP.java
src/Ordem/FichaOP.java
src/Ordem/FichaOP.java
